@charset "UTF-8";

@import 'variables';
@import 'fonts';
@import 'icons';
@import 'intro';
@import 'button';
@import 'advantages';
@import 'slider';
@import 'subscribe';
@import 'footer';

* 
{
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
}

html 
{
    font-family: $mainfont;

    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;

    background: $white;
}

.title
{
    font-size: $title-lg-size;
    line-height: $title-lg-line-height;
    font-weight: 600;
    letter-spacing: -0.5px;

    @media screen and (max-width: $desktop-md)
    {
        font-size: $mob-title-lg-size;
    }
}



h2.main-title
{
    font-size: $title-md-size;
    line-height: $title-md-line-height;

    @media screen and (max-width: $desktop-md)
    {
        font-size: $mob-title-md-size;
    }

}

p.main-subtitle
{
    margin: 8px 0 0 0;

    font-size: $main-text-size;
    line-height: $main-text-line-height;
    text-transform: uppercase;
    font-weight: 600;

    color: $text-turquoise;

    @media screen and (max-width: $desktop-md)
    {
        font-size: $mob-main-text-size;
    }
}