html > body > footer
{
    background: $footer-gray;
    padding: 72px 80px 28px 80px;
}

html > body > footer > div.footer-main-info
{
    padding: 0 0 72px 0;
    border-bottom: 1px solid $light-gray;
}

html > body > footer > div.footer-main-info > div.social
{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    max-width: 210px;
    margin: 0 auto;
}

html > body > footer > div.footer-main-info > h2.footer-title
{
    font-size: $subtitle-size;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    margin: 32px 0 0 0;
}

html > body > footer > div.footer-main-info > p.footer-subtitle
{
    font-size: $main-text-size;
    line-height: $main-text-line-height;
    color: $medium-gray;
    text-align: center;
    max-width: 440px;
    margin: 4px auto 0 auto;
}

html > body > footer > div.footer-main-info > div.contacts
{
    margin: 76px auto 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    max-width: $main-width;
}

html > body > footer > div.footer-main-info > div.contacts > a
{
    font-size: $subtitle-size;
    line-height: $subtitle-line-height;
    transition: all .3s;
    color: $black;
    text-decoration: none;
    display: flex;
    align-items: center;
    
    &:hover
    {
        color: $main-orange;
    }
}

html > body > footer > div.footer-main-info > div.contacts > a.footer-email > span.underline
{
    border-bottom: 4px solid $main-orange;
}

html > body > footer > div.footer-main-info > div.contacts > div.address
{
    text-align: center;
}

html > body > footer > div.footer-main-info > div.contacts > div.address > h2
{
    font-weight: 400;
}

html > body > footer > div.footer-main-info > div.contacts > div.address > p
{
    color: $medium-gray;
    margin: 12px 0 0 0;
}

html > body > footer > p.footer-copyright
{
    padding: 32px 0 0 0;
    margin: 0 auto;
    font-size: $main-text-size;
    line-height: $main-text-line-height;
    color: $medium-gray;
    text-align: center;
}
