div.icon
{
    width: 24px;
    margin: 0 10px 0 0
}

div.icon-mail
{
    margin: 0 20px 0 0;

    &::before
    {
        content: url('../images/email.svg');
    }
}

div.icon-phone::before
{
    content: url('../images/tel.svg');
}

div.social-icon
{
    width: 50px;
    height: 50px;

    transition: all 0.3s;

    &:hover
    {
        opacity: 0.8;

        box-shadow: 0 15px 20px rgba(249, 87, 46, 0.7);
    }
}

div.social-icon-facebook::before {
    content: url('../images/facebook.svg');
}

div.social-icon-vk::before {
    content: url('../images/vk.svg');
}

div.social-icon-ig::before {
    content: url('../images/ig.svg');
}