@charset "UTF-8";

html > body > section.intro
{
    display: flex;
    justify-content: space-between;

    height: 100vh;
    padding: 20px;

    @media screen and (max-width: $tablet)
    {
        flex-direction: column;
        justify-content: flex-start;

        height: auto;
    }
}

html > body > section.intro > div.main-info
{
    position: relative;

    width: 50%;
    padding: 28px 0 28px 90px;

    @media screen and (max-width: $desktop-md)
    {
        padding: 28px;
    }

    @media screen and (max-width: $tablet)
    {
        width: 100%;
    }

    @media screen and (max-width: $mobile)
    {
        padding: 0;
    }
} 

html > body > section.intro > div.main-info > img.logo
{
    width: 200px;

    @media screen and (max-width: $desktop-md)
    {
        width: 152px;
    }
}

html > body > section.intro > div.main-info > h1.title
{
    max-width: 508px;
    margin: 225px 0 0 0;

    @media screen and (max-width: $desktop-md)
    {
        max-width: 400px;
        margin-top: 20vh;
    }

    @media screen and (max-width: $tablet)
    {
        margin-top: 120px;
    }

    @media screen and (max-width: $mobile)
    {
        margin-top: 80px;
    }
}

html > body > section.intro > div.main-info > p.intro-subtitle
{
    margin: 24px 0 0 0;
    max-width: 408px;

    font-size: $subtitle-size;
    line-height: $subtitle-line-height;

    @media screen and (max-width: $desktop-md)
    {
        margin: 16px 0 0 0;
        max-width: 352px;

        font-size: $mob-subtitle-size;
    }
}

html > body > section.intro > div.main-info > div.subscribe-button-box
{
    display: flex;
    align-items: center;

    margin: 44px 0 0 0;

    @media screen and (max-width: $desktop-md)
    {
        flex-direction: column;
        align-items: flex-start;

        margin: 24px 0 0 0;
    }
}

html > body > section.intro > div.main-info > div.subscribe-button-box > p.subscribe-button-hint
{
    margin: 0 0 0 32px;

    font-size: $main-text-size;
    line-height: $main-text-line-height;

    color: $medium-gray;

    @media screen and (max-width: $desktop-md)
    {
        margin: 20px 0 0 30px;
    }

    @media screen and (max-width: $mobile)
    {
        margin: 20px auto 30px auto;
    }
}

html > body > section.intro > div.main-info > a.scroll-down
{
    position: absolute;
    bottom: 28px;
    left: 90px;

    display: flex;
    align-items: center;

    text-decoration: none;

    &:hover > img.chevron
    {
        transform: scaleX(0.8);
    }

    @media screen and (max-width: $desktop-md)
    {
        left: 28px;
    }

    @media screen and (max-width: $tablet)
    {
        position: static;
        
        margin: 40px 0 0 0;
    }

    @media screen and (max-width: $mobile)
    {
        justify-content: center;

        margin: 40px auto 0 auto;
    }
}

html > body > section.intro > div.main-info > a.scroll-down > img.chevron
{
    display: block;

    width: 40px;
    height: 30px;
    margin: 0 12px 0 0;

    transition: all 0.3s;
}


html > body > section.intro > div.main-info > a.scroll-down > p.scroll-down-hint
{
    font-size: $main-text-size;
    line-height: 18px;  

    color: $main-orange;
}



html > body > section.intro > div.video-box
{
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    width: 50%;
    padding: 40px 90px;

    background: url('../images/intro.jpg') top center no-repeat;
    background-size: cover;

    @media screen and (max-width: $desktop-md)
    {
        padding: 20px 28px;
    }

    @media screen and (max-width: $tablet)
    {
        display: none;
    }
}

html > body > section.intro > div.video-box > a 
{
    display: flex;
    align-items: center;

    font-size: $subtitle-size;
    line-height: $subtitle-line-height;
    text-decoration: none;

    color: $black;

    transition: all 0.3s;

    &:hover
    {
        color: $main-orange;
    }
}


html > body > section.intro > div.video-box > div.video-button-box
{
    position: absolute;
    top: 50%;
    left: 50%;

    margin-right: -50%;

    transform: translate(-50%, -50%);
}

html > body > section.intro > div.video-box > div.video-button-box > div.video-button-circle
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 250px;

    border-radius: 50%;

    cursor: pointer;

    background: url('../images/circle.svg') no-repeat;
    background-size: contain;

    &:hover > img.video-button 
    {
        transform: scale(1.2);
    }

    @media screen and (max-width: $desktop-md)
    {
        width: 200px;
        height: 200px;
    }
}

html > body > section.intro > div.video-box > div.video-button-box > div.video-button-circle > img.video-button
{
    width: 110px;
    margin: 0 0 0 30px;

    transition: all 0.2s;

    @media screen and (max-width: $desktop-md)
    {
        width: 80px;
        margin: 0 0 0 20px;
    }
}

html > body > section.intro > div.video-box > div.video-button-box > p.video-button-hint
{
    display: block;

    margin: 20px auto 0 auto;

    font-size: $main-text-size;
    text-align: center;

    cursor: pointer; 

    color: $main-orange;
}

