@charset "UTF-8";

html > body > main > section.slider
{
    max-width: $main-width;
    padding: 184px 0 0 0;
    margin: 0 auto;

    @media screen and (max-width: $desktop-md)
    {
        max-width: $mob-main-width;
    }

    @media screen and (max-width: $tablet)
    {
        padding: 100px 20px 0 20px;
    }
}

html > body > main > section.slider > div.slider-row 
{
    position: relative;

    display: flex;

    margin: 52px 0 0 0;

    transition: all 0.3s;
}

html > body > main > section.slider > div.slider-row > div.slider-buttons
{
    position: absolute;
    bottom: 0;
    right: 75px;
    z-index: 1000;
    
    @media screen and (max-width: $desktop-md)
    {
        bottom: -100px;
        right: 10px;
    }

    @media screen and (max-width: $tablet)
    {
        bottom: -40px;
    }
}

html > body > main > section.slider > div.slider-row > div.slider-buttons > button
{
    cursor: pointer;

    border: none;
    background: transparent;

    &:first-of-type
    {
        margin: 0 32px 0 0;
    }

    &:focus
    {
        outline: none;
    }

    &:disabled
    {
        
    }
}


html > body > main > section.slider > div.slider-row > div.slider-buttons > button > img
{
    width: 20px;

    transition: all 0.2s;

    &:hover
    {
        transform: scaleY(0.8);
    }
}

html > body > main > section.slider > div.slider-row > div.slider-item
{

    position: relative;

    width: $main-width;
    flex-shrink: 0;

    transition: all 0.4s;

    @media screen and (max-width: $desktop-md)
    {
        width: $mob-main-width;
        padding: 0 12px;
    }

    @media screen and (max-width: $tablet)
    {
        width: 100%;
    }
}

html > body > main > section.slider > div.slider-row > #slide1
{
    margin: 0 0 0 -984px;

    @media screen and (max-width: $desktop-md)
    {
        margin: 0 0 0 -700px;
    }

    @media screen and (max-width: $tablet)
    {
        margin: 0 0 0 -90vw;
    }
}

html > body > main > section.slider > div.slider-row > div.slider-item > img.slider-img
{
    max-height: 100%;
    max-width: 750px;

    @media screen and (max-width: $desktop-md)
    {
        max-width: 100%;
    }

    @media screen and (max-width: $tablet)
    {
        max-width: 100%;
    }
}

html > body > main > section.slider > div.slider-row > div.slider-item > p.slider-hint
{
    position: absolute;
    top: 0;
    right: 75px;

    max-width: 144px;

    font-size: 13px;
    line-height: 20px;
    
    color: $medium-gray; 

    @media screen and (max-width: $desktop-md)
    {
        position: static;

        max-width: 100%;
        margin: 20px auto 0 auto;

        text-align: center;
    }
}

