// colors

$white: #fff;
$light-gray: #f2f2f2;
$medium-gray: #666;
$black: #000;
$main-orange: #f9572e;
$line-turquoise: #63d2c1;
$text-turquoise: #33b5a3;

// fonts

$mainfont: 'Muller', Arial, Helvetica, sans-serif;
$title-lg-size: 64px;
$title-lg-line-height: 1;
$subtitle-size: 21px;
$subtitle-line-height: 30px;
$main-text-size: 16px;  
$main-text-line-height: 24px;